<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ip's checker</title>
</head>
<body>
  <!-- As a heading -->
<nav class="navbar navbar-dark">
    <span class="navbar-brand mb-0 h1">IP Checker</span>
  </nav>
  <div class="container">
    <button class="btn btn-info" onclick="window.location.href='iplist'" id='getlist'>See all IP list</button>
    <button class="btn btn-info" id="checklist">Check IP list</button>
  </div>

</body>
</html>