<li>104.142.47 <button onclick="window.location.href='/checkip/104.142.47'" id=0>check ip</button></li>
<li>77.125.92.143 <button onclick="window.location.href='/checkip/77.125.92.143'" id=1>check ip</button></li>
<li>5.121.243.98 <button onclick="window.location.href='/checkip/5.121.243.98'" id=2>check ip</button></li>
<li>157.55.39.211 <button onclick="window.location.href='/checkip/157.55.39.211'" id=3>check ip</button></li>
<li>157.55.39.12 <button onclick="window.location.href='/checkip/157.55.39.12'" id=4>check ip</button></li>
<li>198.46.81.194 <button onclick="window.location.href='/checkip/198.46.81.194'" id=5>check ip</button></li>
<li>100.43.85.165 <button onclick="window.location.href='/checkip/100.43.85.165'" id=6>check ip</button></li>
<li>66.249.66.159 <button onclick="window.location.href='/checkip/66.249.66.159'" id=7>check ip</button></li>
<li>218.98.111.217 <button onclick="window.location.href='/checkip/218.98.111.217'" id=8>check ip</button></li>
<li>218.98.111.214 <button onclick="window.location.href='/checkip/218.98.111.214'" id=9>check ip</button></li>
<li>183.131.155.224 <button onclick="window.location.href='/checkip/183.131.155.224'" id=10>check ip</button></li>
<li>128.199.119.211 <button onclick="window.location.href='/checkip/128.199.119.211'" id=11>check ip</button></li>
<li>106.11.211.64 <button onclick="window.location.href='/checkip/106.11.211.64'" id=12>check ip</button></li>
<li>106.11.141.123 <button onclick="window.location.href='/checkip/106.11.141.123'" id=13>check ip</button></li>
<li>122.228.80.247 <button onclick="window.location.href='/checkip/122.228.80.247'" id=14>check ip</button></li>
<li>118.123.249.114 <button onclick="window.location.href='/checkip/118.123.249.114'" id=15>check ip</button></li>
<li>116.1.237.119 <button onclick="window.location.href='/checkip/116.1.237.119'" id=16>check ip</button></li>
<li>162.222.213.197 <button onclick="window.location.href='/checkip/162.222.213.197'" id=17>check ip</button></li>
<li>109.201.133.16 <button onclick="window.location.href='/checkip/109.201.133.16'" id=18>check ip</button></li>
<li>81.52.140.211 <button onclick="window.location.href='/checkip/81.52.140.211'" id=19>check ip</button></li>
